<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Antic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
  
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <% include ../partials/header.ejs %>
</head>

<body ng-app="app">
<div class="header-container home-image">
  <% include ../partials/nav.ejs %>

      <div class="logo">
      <img src="images/canteenwhite375px.png" alt="Canteen + Co.">
    </div>

      
     <p class="transitions">
        <a class="btn btn-primary btn-lg" href="#" role="button">Today's Bowl</a>     
      </p> 
    
      
  </div><!--end of header-container -->



<div class="featured bgcolor">
  <div class="container">
          <div class="row">
            <div class="col-md-6">
            <h2 class="headers">Today's Bowl</h2>
              <div class="panel">
                <div fx-instagram client-id="6f893f44aa71400b8fdc7d0608ae3bdd" user-id="2073058868" count="1">
                
                  <img class="images-insta" ng-repeat="img in instaImgs" ng-attr-src="{{ img.images.standard_resolution.url }}" alt="">
               
                </div>
              </div><!--end panel-->
                <ul class="transitions falist">
               <div>
                  <li><a ng-click="showme=true" ng-hide="showme" class="btn btn-primary btn-lg" role="button">Place Order</a></li>
                  
                  <li>
                  
                      <a href="#this"<button ng-show="showme" ng-click="showorder=true" class="btn btn-primary btn-lg  animate-show-hide" role="button">Pick Up</button></a>
                  
                  </li>
                  
                  <li>
                    <button ng-show="showme" class="btn btn-primary btn-lg  animate-show-hide" href="#" role="button">Catering
                    </button> 
                  </li>  
                </div>   
              </ul>
            </div>
            <div class="col-md-6">
            <div class="align-left">
            <ul class="falist desc">
             
              <li><h2 id="line-item"><i class="fa fa-check-square"></i> Reserve Your Bowl</h2></li>
          
              <li><h2 id="line-item"><i class="fa fa-check-square"></i> Sign up for Receive Weekly Bowl - CSA Style*</h2></li>
              
            </ul>
            <hr />

            <h3 class="desc">*CSA Style</h3>
            <p class="desc-sm"> Yes! We serve one bowl a day - sourcing ingredients available locally that week. We can make things less expensive that way. If you sign up ahead - we can save money, and so can you. And you're supporting local farms and businesses. Sign up alone or with friends for a double discount!</p>
             
            
             </div>
            </div>
          </div>
      </div>
      <div ng-show="showorder" class="row animate-show-hide">
           <div class="col-md-12">
           <!-- Change the width and height values to suit you best -->
          <!-- Change the width and height values to suit you best -->
          <a="#this"<div class="typeform-widget" data-url="https://ghostwriteio.typeform.com/to/Tj2og2" data-text="Order" style="width:100%;height:400px;"></div></a>
        <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>


                
            </div>
      </div>
    
  </div><!--end container-->
</div><!--end featured -->

<div class="featured2 bgimage">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="headers">A Better Bowl</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 elements">
        <img class="button-effects" src="images/clean.png">
          <h2>Clean</h2>
          <p>All the good stuff - Whole grains, fresh veggies, and heirloom beans - without the gunk. No chemical preservatives, refined flours, processed sugars, and hydrogenated oils. </p>
      </div>
       <div class="col-md-4 elements">
          <img class="button-effects" src="images/seasonal.png">
          <h2>Seasonal</h2>
          <p>Our daily bowl changes based on what’s fresh and local, and what tastes good today.</p>
          
      </div>
      <div class="col-md-4 elements">
        <img class="button-effects" src="images/scratch.png">
        <h2>From Scratch</h2>
        <p>We’re a DIY kind of kitchen. We make our own sauces, soak our grains, and chop our veggies-  so it’s food we can feel good about. </p>
      </div>
              
            </div><!--end row-->
          </div>
      </div>
    </div>
  </div>
</div>

<div class="yellow">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 right-align">
         <img class="testimonial-photo" src="images/testimonial.jpg">
      </div> 
      <div class="col-lg-7 center-from-top">
        <h4>"I love Canteen & Co.'s bowl concept! It is such a simple, but delicious and healthy option for lunch on the go. Each week is a chance to taste what's most local and seasonal. Canteen & Co. will become a favorite destination for vegans and omnivores alike!"</h4>
        <h4>-<b>Holly Fowler, Northbound Ventures</b></h4>
      </div>  
    </div>
  </div>
</div>

<div class="bgimage">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="headers">Become a Member</h2> 
        <div>
          <div class="container">
            <div class="row">
              <h4 class="center">Reserve your bowl online in advance. Become a member and save $$!</h4> 
                 <div class="row">
                  <ul class="falist">
                    <div class="col-md-4 elements">
                       <li><img class="button-effects" src="images/single.png">
                        <h2>Just You</h2>
                        <p>Reserve your bowl 24 hrs in advance for pick-up at one of our weekly locations. </p>
                          <a ng-click="" ng-hide="showme" class="btn btn-primary btn-lg" href="#" role="button">Order Now</a></li> 
                    </div>
                     <div class="col-md-4 elements">
                        <li><img class="button-effects" src="images/4-person.png">
                        <h2>You + Your Crew (10+)</h2>
                        <p>Get 10+ hungry friends together, and we’ll bring lunch to you!</p>
                          <a ng-click="" ng-hide="showme" class="btn btn-primary btn-lg" href="#" role="button">Trial Run</a>
                        </li>
                    </div>
                    <div class="col-md-4 elements">
                      <li>
                        <img class="button-effects" src="images/custom.png">
                        <h2>DIY // Custom</h2>
                        <p>We provide spreads for office lunches, catering, and team-building (community?) meals.</p>  
                        <a ng-click="" ng-hide="showme" class="btn btn-primary btn-lg" href="#" role="button">Contact Us </a>
                      </li>
                    
                    </div>
                   </ul>          
                  </div><!--end row-->
          
        </ul>
      </div>
    </div>
  </div>
</div>

    


      
        
      </div>   
    </div>
  </div>
</div>

   <div class="container">
    <div class="row">
          <div class="col-md-5">
            <h2 id="giant-font">KNOW WHERE YOUR DOLLAR GOES</h2>
          </div>
           <div class="col-md-7">
            <div class="center">
             <img class="photo-border" src="images/gram.png">
            </div>
          </div>
        
      </div>   
    </div>
  </div>

<div class="featured bgimage">
   <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="headers">CSA-INSPIRED</h2> 
         <div class="row">
            <ul class="falist">
              <div class="col-md-4 elements">
                 <li><img class="button-effects" src="images/ordering.png">
                  <h2>Ordering</h2>
                  <p>Advance orders help us plan more efficiently, source ingredients from small local farmers, and reduce food waste.</p>
                    </li> 
              </div>
               <div class="col-md-4 elements">
                  <li><img class="button-effects" src="images/membership.png">
                  <h2>Membership (Savings)</h2>
                  <p>Help us us create us stronger local economy by joining our lunch club- and save $$ on every bowl.</p>
                  </li>
               </div>
              <div class="col-md-4 elements">
                  <li>
                  <img class="button-effects" src="images/community.png">
                  <h2>Community</h2>
                  <p>Good food brings us together: farmers, producers, and consumers. Experience the season harvest with us!</p>
                  </li>
              </div>
            </ul>
      </div>   
    </div>
    
      <div class="col-md-12 center">
        <a ng-click="" ng-hide="showme" class="btn btn-primary btn-lg" href="#" role="button">Order Now</a>
      </div>
    
  </div>
</div>
<hr />
    <div class="featured bgimage">
   <div class="container">
    <div class="row">
     <h2 class="headers">ABOUT CANTEEN AND CO.</h2> 
      <div class="col-lg-5">
       
        <p> Canteen + Co. makes eating better possible.

          We’re three former food truckers with an obsession with food - and a passion for people. We looked for clean food on the streets of Boston… but no such luck. We decided to bring clean food to you, and we’re inviting you to join us.


          We got our start hosting a recurring community dinners as The Community Canteen. Once a month, we served up simple seasonal bowls to a rotating group of members. Turns out that people liked eating our food - and loved eating together.


          We provide good clean food for gatherings. With our seasonal bowls and consciously sourced snacks we’re launching a new way of eating. Get connected with our community to join us for a dinner, follow us to find out where popping up next, or give us a ring to ask about our catering services.

          Let’s eat better, together.
        </p><!--end col-lg-5 -->
      </div>  
       <div class="col-lg-7 col-md-7">
      <img class="photo" src="images/canteen-3.png" alt="Canteen + Co.">
    </div> 
    </div><!-- end row -->
  </div><!--end container -->
</div><!--end featured bgimage -->


      
        
      </div>   
    </div>
  </div>



</body>

</html>
